/*admin*/
body {
  font-family: 'Segoe UI', Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  color: #333;
}

.header {
  
  color: #63075b;
  text-align: center;
  padding: 20px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header h1 {
  margin: 0;
  font-size: 32px;
  color: #63075b;
}

.container {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
  color: #34495e;
  font-size: 24px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}
#item-form > button{
  width: 20%;
  margin-left: 10%;
  
}

.add-item {
  background-color: rgba(99,7,91,0.4);
  color: rgb(10, 0, 0);
  margin-right: 5%;
}

.add-item:hover {
  background-color: rgba(99,7,91,0.7);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  align-items: center;
}

body > div.container > table > thead > tr > th:nth-child(4){
  width: 24%;
  margin-left:20%;
}
table th, table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: #63075b;
  color: white;
  font-weight: bold;
}

table tr:nth-child(even) {
  background-color: #acaaaa;
}

table tr:hover {
  background-color: #f1f1f1;
}

.btn-edit {
  background-color:rgba(99,7,91,0.4);
  color: rgb(10, 0, 0);
  
}

.btn-edit:hover {
  background-color:rgba(99,7,91,0.7);
}

.btn-delete {
  background-color: rgba(99,7,91,0.4);
  color: rgb(10, 0, 0);
  
}

.btn-delete:hover {
  background-color:rgba(99,7,91,0.7);
}

.form-container {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  
}

form input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
 
}

.btn-submit {
  background-color: #63075b;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
 
}

.btn-submit:hover {
  background-color: rgba(99,7,91,0.7);
}

.header5 {
  background-color: #63075b;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 2;
}

.header5 img {
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header5-right {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 10px;
}

.nav-list li {
  text-align: center;
}

.nav-list a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.nav-list a:hover {
  background-color: #575757;
}